@rendermode InteractiveServer

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="https://cgi.com" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <b>CGI</b>
        </a>
        <span class="text-muted">© 2025 CGI IT UK LTD | By Mason Kerr | Not For Production Use</span>
    </div>

    @* <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul> *@
</footer>